* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "DM Sans", sans-serif;
}


/*navigation styling*/

nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    display: inline;
    margin: 40px 10px 40px 10px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 20px;
}

nav ul li a:hover {
    color: rgb(87, 32, 205);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

/*all styling/combo styling*/

#home,
#history,
#messaging,
#key-terms {
    margin: 20px 40px 40px 40px;
    padding: 10px 20px 20px 40px;
}

p {
    font-size: 20px;
}

h1 {
    margin: 20px 20px 40px 0px;
    padding: 10px 20px 20px 0px;
    font-size: 36px;
}

h4 {
    font-size: 20px;
}


/*home styling*/
#home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 213, 241);
    border-radius: 20px;
    padding: 40px;
    line-height: 1.4;
    margin: 20px 40px 40px 40px;
}

#home p {
    font-size: 30px;
}



#home img {
    width: 50%;
    height: auto;
}

/*key terms styling*/

#key-terms table,
th,
td {
    font-size: 24px;
    margin: 40px;
    border: 1px solid black;
    width: 90%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px 30px 20px 30px;
    width: 50%;
}

/*main-button styling*/

.main-button {
    background-color: black;
    padding: 10px 20px;
    font: "DM Sans", sans-serif;
    font-size: 24px;
    border-radius: 40px;
    margin-top: 20px;
}

.main-button a {
    color: white;
    text-decoration: none;
}


/*history page styling*/

#history-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 40px;
    margin: 20px 40px 40px 40px;
}

#history-2 p,
h4 {
    margin: 20px 40px 20px 0px;
}

#history-2 img {
    width: 50%;
    height: auto;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
}

/*messaging page styling*/

#messaging-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 40px;
    margin: 20px 40px 40px 40px;
}


#messaging-1,
#resources-1,
#history-1 {
    display: grid;
    background-color: rgb(206, 213, 241);
    border-radius: 20px;
    padding: 40px 40px 40px 20px;
    line-height: 1.5;
}

#messaging-2 p,
h2 {
    margin: 20px 40px 20px 0px;
}

#messaging-2 a,
span {
    font-size: 20px;
}

#msg-sub,
#msg-sub2 {
    margin-left: 40px;
}

/*resources page styling*/

#resources-section {
    margin: 20px 40px 40px 40px;
    padding: 40px;
}

#resources-2 {
    margin: 40px;
}

#resources-2 li {
    margin: 10px 20px 10px 20px;
    padding: 10px 20px;
    font-size: 24px;
}

/*footer styling*/

footer span,
a {
    font-size: 20px;
}

footer {
    margin: 40px 0px 0px 0px;
    padding: 10px 20px 20px 40px;
    background-color: #dcdcdc;
}

/*quiz page styling*/

.quiz-container {
    background-color: white;
    width: 90%;
    max-width: 800px;
    margin: 100px auto;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-wrapper {
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.result-wrapper .hidden {
    display: none;
}

ul#detailedResults {
    list-style-type: none;
    padding-left: 20px;
}

.quiz-container,
.result-wrapper p {
    font-size: 20px;
    line-height: 1.6;
}

.text-input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

#passFail {
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
}

.form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.quiz-container h1 {
    font-size: 25px;
    color: #000;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}

.question {
    display: none;
}

.question.active {
    display: block;
}


.hidden {
    display: none;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}



/*responsive design*/
/*small devices*/
@media (max-width: 575.98px) {
    .sidebar {
        width: 100%;
    }
}


@media (max-width: 768px) {

    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

    header {
        padding: 10px;
        text-align: center;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 4px 0;
    }

    nav ul li a {
        display: block;
        padding: 6px 10px;
    }
}